{% extends 'base.html' %}

{% block body %}
<div class="container">
    <h1>Update Employee Data</h1>
    <form action="/update/{{ employee.sno }}" method="POST">
        <div class="mb-3">
            <label for="name" class="form-label">Full Name</label>
            <input type="text" class="form-control" name="name" id="name" 
                   value="{{ employee.name }}" placeholder="Enter Full Name" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" name="email" id="email" 
                   value="{{ employee.email }}" placeholder="Enter Correct mail address" required>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">SUBMIT</button>
        </div>
    </form>
</div>
{% endblock body %}